#footer {
  background: #6d5043;
  color: #fff;
}
ul {
  list-style: none;
  padding: 0;
}
.social_icon a {
  background-color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  color: #3498db;
  text-decoration: none;
  display: inline-block;
  transition: 1s;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.social_icon a:hover {
  transform: translateY(-15px);
}
